Logs/
Library/
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
ChunkWar.sln
obj/Debug
.vs/ChunkWar/v16
Temp
*.csproj
UserSettings/EditorUserSettings.asset
UserSettings
ProjectSettings/ProjectVersion.txt
Packages/packages-lock.json
ProjectSettings/PackageManagerSettings.asset
